<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>ServServlet</servlet-name>
        <servlet-class>com.bla.laa.web.ServServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>PicServlet</servlet-name>
        <servlet-class>com.bla.laa.web.PicServlet</servlet-class>
    </servlet>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListQuestionsServlet</servlet-name>
        <servlet-class>com.bla.laa.web.ListQuestionsServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServServlet</servlet-name>
        <url-pattern>/serv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PicServlet</servlet-name>
        <url-pattern>/getpic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListQuestionsServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
</web-app>
